* {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font: inherit;
    vertical-align:baseline;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
body {
    font-family: 'Overpass Mono', monospace;
    font-size: 16px;
    line-height:1;
    background-color: #fdf9ee;
}
h1 {
    font-family:'Spartan', sans-serif;
    font-weight: 500;
    font-size: 40px;

}
.outer-grid-container {
    display:grid;
    grid-template-columns: 70% 30%;
}
.column-2 {
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 30px;
    border-left: 3px solid black;
    height: 100%;
}
ul {
    list-style:none;
}
img,
iframe {
    vertical-align: bottom;
    /* max-width: 100%; */
}
header {
    display: flex ;
    justify-content: space-between;
    padding: 15px 15px 15px 25px;
    align-items: center;
    border-bottom: 3px solid black;
}
header img {
    max-width: 80px;
    margin-right: 20px ;
}
header p {
    font-size: 18px;
    font-weight:400;
}
.portland {
    text-align: center;
}
.qu {
    margin-bottom:18px;
    margin-right:40px;
}

.circle {
width: 75px;
height: 75px;
border-radius: 50%;
background-color: #101887;

}
.pronoun {
    text-align:right;

}
.pronoun p {
    font-size: 14px;
    color: black;
}
.link-list h1 {
    margin-top: 20px;
    transform: translateY(50%);
    margin-bottom: 80px;
}
.link-list h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.link-list a {
    text-decoration: none;
    color: black;
    transition: all .5s ease-in-out;
}
.link-list li {
    list-style-type: square;
    list-style-position: inside;
    transition: all .5s ease; 
}
.link-list a:hover {
    color: rgba(30, 0, 255, 1);
    font-weight: 600;
  /*   transition: all .5s ease; */
    
}
a.selected {
    color: rgba(30, 0, 255, 1);
    font-weight: 600;
  /*   transition: all .5s ease; */
}  
.group {
    margin-bottom: 20px;
}
.gallery {
    display: block;
    padding: 56px 20px 56px 23px; 
    background-image: url("images/grid.svg");
    /* background-color: #e6e6e6; */
    border-bottom: 3px solid black;
}
.photo-arrow{
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    /* padding: 56px 20px; */
    position:relative;    
    margin-bottom: 50px;
    overflow:visible;
}
.cycle-slideshow {
    margin-left: 20px;
    margin-right: 20px;
    overflow: visible;
    display:flex;
    align-items:center;
}
.cycle-slideshow img{
    width: 100%;
    height: auto ; 

}
/* .wrapper {

    display:grid;
    
    flex-wrap: nowrap;
    align-items: center;
} */
.caption {
  /* 	display: block; */
    padding: 15px;
    padding-left: 25px;
    max-width: 50%;
    background-color: #fdf9ee;
    margin: 0px auto 40px auto;
    border: 3px solid black;
}
.caption ul {
    color: #000;
    list-style-type: square;
  /*   list-style-position: inside; */
}
.gallery img {
    /* margin-right: 15px;
    margin-left: 15px; */
}
.filter-list li {
    margin-left: 10px;
}
.about {
    float: left;
    width: 65%;
    padding-top: 10px;
    padding-left: 10px;
}
.about h2 {
    font-size: 24px;
    font-weight: 500;
}
.arrow img {
    max-width: 75px;

}
.prev img {
    margin-bottom:4px;

}
.next img {


}
.all {
    display: none;
}
.gallery .open {
    display: block;
}
.about {
    width:100%;
    /* background-color: #fcdf74; */
    /* background-image: url("images/about/aboutBackground.jpeg"); */
    /* background-size: cover; */
    display:grid;
    grid-template-columns: 17% 1fr 1fr;
    padding: 15px 15px 20px 15px;
    font-size: 12px;
    font-weight:500;
    line-height:1.3;
    color: black;
    
}
.about a:visited{
    color: blue;
}
.left{
    width:100%;
    text-align:left;
}
.left img {
    max-width: 100%;
    max-height: 200px;
}
.center {
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    /* position:relative; */
}
.centerTop {
    margin-bottom:45px;
}
.center a {
    font-size: 16px;
    font-weight: 500;
}
.about h3 {
    font-size: 18px;
    font-weight: 500;
}

.right a {
    display: block;
    margin-top: 10px;

}
.contact img {
    max-width:20px;
}
.group h2 {
    cursor:pointer;
}

ul p {
    margin-bottom:5px;
    font-weight:500;
}
.contact-box {
    max-width:75%;
    max-height: 75%;
}
.contact-box img {
    max-height: 100px;
}
.hamburger {
    display:none;
    margin-right: 10px;
    margin-bottom:18px;
}
.hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    
}
.long-title{
    display:none;
}

@media (max-width: 1150px) {
    .about {
        grid-template-columns: 20% 35% 1fr;
    }
    .right a{
        margin-top: 5pxpx;
    }
    .centerTop {
        margin-bottom: 35px;
    }
}

@media (max-width: 1080px) {
    header img {
        max-width: 60px;
    }
    .circle img {
        max-width: 300px;
    }
    .caption {
        max-width: 65%;
    }
    .link-list h2 {
        font-size: 20px;
    }
}

@media (max-width: 990px) {
    .about {
        grid-template-columns: 45% 55%;
    }
    .left {
        display: none;
    }
    .centerTop {
        margin-bottom: 10px;
    }
    .center a{
        font-size:14px;
    }
}

@media (max-width: 850px) {
    .filter-list {
        display: none;
    }
    h1 {
        font-size: 32px;
    }
    .about {
        display:none;
    }
    .arrow img {
        max-width: 40px;
    }
    .group h2 {
        max-width:200px;
    }
    .filter-list {
        display:none;
    }
    .gallery {
        border-bottom: none;
        padding-bottom:0;
    }
    .link-list li {
        margin-bottom: 4px;
        font-size: 14px;
    }
}

@media (max-width: 780px) {
    .portland {
        display:none;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        position:absolute;
        top: 9px;
        right: 26px;
        margin:0;
    }
    .outer-grid-container{
        display:block;
        position:relative;
    }
    .column-2 {
        width: 45%;
        position:fixed;
        top:0;
        right:0;
        height:100%;
        transform:translateX(100%);
        z-index: 2;
        background-color: #fdf9ee;
        transition: transform 0.5s ease;
    }
    .slide {
        transform: translateX(0);
    }
    .cycle-slideshow{
        z-index:1;
    }
    .menu-toggle {
        z-index:3;
    }
    .link-list h1 {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .qu {
        z-index:4;
        margin:0;
        position:absolute;
        right:36%;
        top: 15px
    }
    .link-list li {
        list-style-type:none;
        font-size: 16px;
        line-height: 1.3;
    }
    .group {
        margin-bottom: 6px;
    }
    /* .column-2 {
        display:none;
    }
    .outer-grid-container {
        display:grid;
        grid-template-columns:1fr;
    }
    .grid-reformat {
        grid-template-columns:70% 30%;
    } */
    .gallery{
        padding: 16px;
        padding-top: 20px;
    }
@media (max-width: 730px){
    .qu {
        right:35%;
        top:15px;
    }
}
@media (max-width:640px){
    .qu {
        right:34%;
    }
    .caption {
        max-width:80%;
    }
}
@media (max-width:590px) {
    .qu {
        right: 33%
    }
    h1 {
        font-size: 28px;
    }
    header p {
        font-size:16px;
    }
    .link-list h2 {
        font-size: 16px;
    }

    .link-list li {
        font-size: 14px;
    }
    .gallery {
        padding-bottom: 30%;
    }
}
@media (max-width: 480px){
    .qu{
        right:32%;
    }
    .link-list h1 {
        margin-top: 60px;
    }
    .long-title{
        display:inline;
    }

    .qu{
        right:31%;
    }
    h1 {
        font-size: 26px;
    }
    header p {
        font-size: 14px;
    }
    .caption li {
        font-size: 14px;
    }
    .caption p {
        font-size: 14px;
    }
    .link-list h2{
        max-width: 175px;
    }
    .link-list h1 {
        margin-top:48px;
    }
    .link-list li {
        line-height:1.2;
    }
}
@media(max-width: 400px){
    .qu{
        right:30%;
    }
     h1 {
        font-size: 24px;
    }
    .gallery {
        padding-bottom: 50%;
        padding-right:
    }

}
@media(max-width:370px){
    .link-list h1 {
        font-size:20px;
    }
}
@media(max-width:340px){
    h1{
        font-size:20px;
    }
    header p{
        font-size:12px;
    }
    .link-list li {
        font-size:12px;
    }
}

@media(min-width:850px) {
    .filter-list {
        display: block;
    }
}
